/* Ínicio do texto de apresentação */
.about {
    align-items: flex-start;
    display: flex;
    height: auto;
    justify-content: space-around;
    width: 100%;
    padding: 3rem 0;
}

.about article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.about h1 {
    color: var(--yellow-2);
    font-weight: 600;
    padding: 2rem 0 0.5rem;
}

.about h2 {
    color: var(--gray-3);
    font-weight: 900;
    font-size: 60px;
    padding: 1rem 0;
}

.about h3 {
    color: var(--black);
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 1rem;
}

.about p {
    color: var(--gray-2);
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
}
/* fim */

.about article nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Botão CONTRATE-ME */
.about article nav a:nth-child(1) {
    border: none;
    border-radius: 50px;
    color: var(--white);
    font-weight: 600;
    padding: 1.5rem;
    margin: 3rem 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 8px var(--black);
}

.about article nav a:nth-child(1):hover {
    background: var(--green-4);
    color: var(--blue-10);
    text-shadow: none;
    transition: 600ms;
}
/* fim */

.social_networking {
    margin: 0 1rem;
}

.about article nav span {
    color: var(--white);
}

.about article nav a {
    /* Redes Sociais */
    border: solid 1px var(--rose-4);
    border-radius: 100%;
    padding: 0.7rem 0.2rem 0.7rem 0.7rem;
    margin: 0.5rem;
    text-decoration: none;
}

.about article nav a:nth-child(5) {
    /* link do GitHub */
    padding-right: 0.6rem;
}

.flip_container {
    background-color: transparent;
    border: solid 1rem var(--rose-4);
    border-radius: 100%;
    padding: 1rem;
    perspective: 1000px;
    height: 400px;
    width: 400px;
}

.front img, 
.back img{
    /* Minha foto de perfil */
    border-radius: 100%;
    height: 400px;
    position: absolute;
    width: 400px;
}

/* Efeito de animação da foto de perfil */
.flipper {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 5s;
}

.flip_container:hover .flipper {
    transform: rotateY(720deg);
}
/* fim */

/* Responsividade */
@media screen and (max-width: 1024px) {
    .about {
        align-items: center;
        flex-direction: column-reverse;
    }

    .about article {
        align-items: center;
        width: 80%;
    }

    .about p {
        text-align: justify;
    }

    .about article nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .flip_container {
        align-items: center;
        border: solid 0.5rem var(--rose-4);
        display: flex;
        justify-content: center;
        margin: 0 10%;
        width: 100%;
    }
    
    .front img,
    .back img{
        /* Minha foto de perfil */
        height: 100%;
        width: 100%;
    }
}
/* fim */