.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column ;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  /* Efeito glass */
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7.7px);
  /* fim */
}

.card p {
  padding: 1rem 0;
  text-align: center;
}

.status {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  margin: 0.5rem;
  padding: .3rem 1rem;
}

.card-skill {
  width: 200px;
}

.card-tool {
  min-width: 140px;
}

.card-tool:first-child {
  margin-left: 4.5rem;
}

.card-project {
  flex-direction: row;
  height: auto;
  justify-content: center;
  width: 500px;
}

.img-project {
  height: 200px;
  width: 300px;
}


.btn-projects {
  border: none;
  color: var(--white);
  align-items: baseline;
}

@media screen and (max-width: 374px) {
  .card-tool {
    min-width: 150px;
  }
  
  .card-tool:first-child {
    margin-left: 4.5rem;
  }
}

@media screen and (min-width: 375px) {
  .card-tool {
    min-width: 180px;
  }
  
  .card-tool:first-child {
    margin-left: 5rem;
  }
}

@media screen and (min-width: 425px) {
  .card-tool {
    min-width: 180px;
  }
  
  .card-tool:first-child {
    margin-left: 6.5rem;
  }
}

@media screen and (min-width: 500px) {
  .card-tool {
    min-width: 140px;
  }
  
  .card-tool:first-child {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .card-project {
    height: auto;
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .card-tool {
    min-width: 140px;
  }
  
  .card-tool:first-child {
    margin-left: 6rem;
  }
}