.cards-container-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column ;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  /* Efeito glass */
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7.7px);
  /* fim */
}

.card:hover {
  box-shadow: 0 0 20px var(--green-5);
  border: 1.4px solid var(--green-4);
}

.card-skill {
  width: 200px;
}

.card-tool {
  min-width: 140px;
}

.card-tool:first-child {
  margin-left: 4.5rem;
}

.card p {
  padding-top: 1rem;
  text-align: center;
}

.status {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  margin: 0.5rem;
  padding: 0 1rem;
}