header {
    align-items: center;
    background-color: var(--blue-10);
    display: flex;
    height: 90px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header div {
    align-items: center;
    display: flex;
    font-size: 22px;
    font-weight: 400;
    padding-left: 5%;
}

header div p {
    padding-left: 0.4rem;
}

/* Ínicio dos estilos da fonte do logotipo */
header div p:nth-child(2) {
    color: var(--white);
    padding-left: 0.8rem;
    text-shadow: -1.5px -0.5px 0 var(--green-4);
}

header div p:nth-child(3), .underline {
    color: var(--fuchsia-5);
}
/* fim */

/* Efeito de animação do underline no logo do cabeçalho */
.underline {
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* fim */

/* Menu de navegação */
header nav {
    padding-right: 5%;
}

header nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    padding: 0 0.5rem;
}

header nav a:hover {
    color: var(--green-5);
}
/* fim */

/* Botão contato no fim do menu de navegação */
header #contact {
    background-color: var(--green-4);
    border-radius: 5px;
    margin: 6px 0 0 6px;
    padding: 0.8rem;
    text-shadow: 0 0 6px var(--black);
}

header #contact:hover {
    color: var(--blue-10);
    box-shadow: 3px 3px var(--white);
    margin: 0 6px 6px 0;
    text-shadow: none;
    transition: 400ms;
}
/* fim */

/* Responsividade */
@media screen and (max-width: 1024px) {
    header nav {
        display: none;
    }

    .fa-bars {
        display: block;
    }
}
/* fim */