header {
    align-items: center;
    background-color: var(--blue-10);
    height: auto;
    position: fixed;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5%;
}

header .container div {
    align-items: center;
    display: flex;
    font-size: 22px;
    font-weight: 400;
}

header .container div i {
    padding-top: 0.5rem;
}

header .container div p {
    padding-left: 0.4rem;
}

header div p:nth-child(2) {
    color: var(--white);
    padding-left: 0.8rem;
    text-shadow: -1.5px -0.5px 0 var(--green-4);
}

header div p:nth-child(3), .underline {
    color: var(--fuchsia-5);
}

header .container nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    padding: 0 0.5rem;
}

header .container nav a:hover {
    color: var(--green-5);
}

.underline {
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

header #contact {
    background-color: var(--green-4);
    border-radius: 5px;
    margin: 6px 0 0 6px;
    padding: 0.8rem;
    text-shadow: 0 0 6px var(--black);
}

header #contact:hover {
    color: var(--blue-10);
    box-shadow: 3px 3px var(--white);
    margin: 0 6px 6px 0;
    text-shadow: none;
    transition: 400ms;
}