:root {
	/* paleta de cores */
	--black: #000;
	--blue-10: #0c003a;
	--blue-9: #0a0144;
	--cyan-6: #0891B2;
	--cyan-4: #22D3EE;
	--fuchsia-5: #D946EF;
	--fuchsia-8: #86198F;
	--fuchsia-9: #701A75;
	--gray-3: #D4D4D8;
	--gray-2: #E4E4E7;
	--green-4: #4ADE80;
	--green-5: #00ff57;
	--green-6: #16bb29;
	--indigo-9: #312E81;
	--pink-5: #EC4899;
	--pink-4: #F472B6;
	--purple-9: #581C87;
	--red-6: #DC2626;
	--rose-4: #FDA4AF;
	--rose-7: #BE123C;
	--white: #fff;
	--yellow-2: #faff00;
}

/* fontes */
.font-1 {
	font-family: 'Indie Flower', cursive;
}

.font-2 {
	font-family: 'Kiwi Maru', serif;
}

.font-3 {
	font-family: 'Marcellus', serif;
}

.font-4 {
	font-family: 'Montserrat', sans-serif;
}

.font-5 {
	font-family: 'Victor Mono', monospace;
}

.fw-300 {
	font-weight: 300;
}

.fw-600 {
	font-weight: 600;
}

.title {
	color: var(--yellow-2);
	padding: 0 0 0.5rem;
}

.title-section {
	font-size: 20px;
	text-align: center;
	margin: 2rem 0;
	width: 100%;
}

.txt {
	color: var(--gray-2);
	line-height: 1.5rem;
	font-size: 1rem;
}

.txt-center {
	text-align: center;
  margin-bottom: 2rem;
}

/* fim */

/* Backgrounds */
.gradient-1 {
	background: linear-gradient(150deg, var(--blue-9) 40%, var(--fuchsia-9), var(--rose-7));
}

.gradient-2 {
	background: linear-gradient(to right, var(--rose-7), var(--fuchsia-8), var(--cyan-4) 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-3 {
	background: linear-gradient(to right, var(--rose-7), var(--fuchsia-8), var(--cyan-4));
}

/* fim */

/* Conteúdo */
main {
	background-color: var(--blue-9);
	height: auto;
	padding-top: 90px;
}

section {
	padding: 1rem 0;
}

/* fim */


/* Botão contato no fim do menu de navegação e no cards projetos*/
.btn-green,
.menu > .contact {
	background-color: var(--green-4);
	border-radius: 5px;
	margin: 6px 0 0 6px;
	padding: .8rem;
	text-shadow: 0 0 6px var(--black);
}

.btn-green:hover,
.menu > .contact:hover {
	color: var(--blue-10);
	box-shadow: 3px 3px var(--white);
	margin: 0 6px 6px 0;
	text-shadow: none;
	transition: 400ms;
}

/* fim */