.skills {
  padding: 2rem;
}

.skills h1 {
  font-size: 20px;
  text-align: center;
  margin: 2rem 0;
  width: 100%;
}

.skills > .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
