.carousel {
	align-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	overflow: hidden;
	width: auto;
}

.slider {
  display: flex;
	margin: 0;
	max-width: 100%;
  overflow: visible;
	padding: 0;
	transition: transform 400ms cubic-bezier(0.27, 0.63, 0.60, 1.45);
	width: 100%;
}

.slider-buttons {
  display: flex;
  height: 0;
  justify-content: space-between;
}

.btn-slider {
  background: var(--blue-9);
  bottom: 9rem;
  color: var(--green-5);
  height: 40px;
  justify-content: space-between;
  margin: 1rem;
  padding: .6rem;
  position: relative;
  z-index: 1;
}